USE [WP11_cu222ai_Weather]
GO
/****** Object:  StoredProcedure [dbo].[usp_selectLocations]    Script Date: 01/13/2013 17:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_selectLocations]
AS
BEGIN
SELECT * FROM Geoname

END
